.board
  .btn
  .img
     img.person(src="./image/img.jpg", alt="")  
  .info
    ul
      li.name Name： 張哲維
      li Admission： 亞洲大學 資訊傳播系四年級
      li Habbit： Music、Movie、Research Blockchain、Workout
      li Favorite： BLACKPINK、Thailand
      li Tech Skill：WEB Develope(HTML,CSS,JS)、Blockchain
  .bottom
    .comment 我叫張哲維，大學生四年級，喜愛R&B音樂，特別享受晚餐聽R&B的時光；喜歡把想法透過code呈現出來，會一點基礎的網站技術HTML、CSS、Javascript，CODING技巧大多透過線上課程或是網路文章自學而來，目前關注在WEB和BLOCKCHAIN的領域，歡迎對BLOCKCHAIN有興趣的朋友一起交流分享。
    
.pageLoading
  .loading
    .bar
    
    
  