<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>ST2DE-INTRO</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  
<div class="board">
  <div class="btn"></div>
  <div class="img"><img class="person" src="./image/img.jpg" alt=""/></div>
  <div class="info">
    <ul>
      <li class="name">Name： 張哲維</li>
      <li>Admission： 亞洲大學 資訊傳播系四年級</li>
      <li>Habbit： Music、Movie、Research Blockchain、Workout</li>
      <li>Favorite： BLACKPINK、Thailand</li>
      <li>Tech Skill：WEB Develope(HTML,CSS,JS)、Blockchain</li>
    </ul>
  </div>
  <div class="bottom">
    <div class="comment">我叫張哲維，大學生四年級，喜愛R&B音樂，特別享受晚餐聽R&B的時光；喜歡把想法透過code呈現出來，會一點基礎的網站技術HTML、CSS、Javascript，CODING技巧大多透過線上課程或是網路文章自學而來，目前關注在WEB和BLOCKCHAIN的領域，歡迎對BLOCKCHAIN有興趣的朋友一起交流分享。</div>
  </div>
</div>
<div class="pageLoading">
  <div class="loading">
    <div class="bar"></div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

  <script  src="js/index.js"></script>


</body>

</html>
